<div class="hike-widget">
	<table class="info_table">
		<tr>
			<td>
				<i class="material-icons orange600">terrain</i>
			</td>
			<td>
				<div>
					<span class="caption">Trail :</span>
					<span class="info-var">
						{{page.hike_info.title}}
					</span>
					{% if page.hike_info.variant%}
					<p class="variant">[ {{page.hike_info.variant}} ]</p>
					{% endif %}
				</div>
				<div style="width:100%">
					{% if page.hike_info.distance%}
					<div class="nuget">
						<div class="caption">Distance</div>
						<i class="material-icons">space_bar</i>
						<span class="value info-var">{{page.hike_info.distance.value}}</span>
						<span class="units info-var">{{page.hike_info.distance.units}}</span>
					</div>
					{% endif %} {% if page.hike_info.elevation%}
					<div class="nuget">
						<div class="caption">Elevation Gain</div>
						<i class="material-icons">bar_chart</i>
						<span class="value info-var">{{page.hike_info.elevation.gain.value}}</span>
						<span class="units info-var">{{page.hike_info.elevation.units}}</span>
					</div>
					{% endif %} {% if page.hike_info.duration%}
					<div class="nuget">
						<div class="caption">Duration</div>
						<i class="material-icons">timeline</i>
						<span class="value info-var">{{page.hike_info.duration.text}}</span>
					</div>
					{% endif %} {% if page.hike_info.map%}
					<div class="nuget">
						<div class="caption">Waypoints</div>
						<i class="material-icons">location_on</i>
						{% for waypoint in page.hike_info.map.waypoints %}
						<span class="info-var">
							<a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{waypoint.lat}},{{waypoint.lng}}">{{waypoint.label}}</a>
						</span>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
	{% if page.hike_info%}
	<table>
		<tr>
			<td style="width:30%">
				<div id="map_{{page.hike_info.id}}_zl_09" class="map hike-map leaflet-container" style="height: 200px; position:relative;"></div>
			</td>
			<td style="width:70%">
				<div id="map_{{page.hike_info.id}}_zl_11" class="map hike-map leaflet-container" style="height: 200px; position:relative;"></div>
			</td>
		</tr>
	</table>
	<!-- Hike Map Begin -->
	<script>
		var hike_info = {{ page.hike_info | jsonify }};
	</script>
	<!-- Hike Map Begin end -->
	{% endif %}
</div>
